<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/recipes">Recipes</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a class="nav-link" routerLink="/auth">Authenticate</a>
                </li>
                <li routerLinkActive="active">
                    <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="nav-link" (click)="onLogout()">Logout</a>
                </li>
                <li class="dropdown" appDropdown #r="appDropdown" *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle nav-link" data-toggle="dropdown">Manage</a>
                    <div class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
                        <a style="cursor: pointer;" class="dropdown-item" (click)="onSaveData()">Save Data</a>
                        <a style="cursor: pointer;" class="dropdown-item" (click)="onFetchData()">Fetch Data</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>